{% extends "base.html" %}

{% block content %}
  <h1>{{ movie.name }}</h1>
  <p><strong>Описание:</strong> {{ movie.description }}</p>
  <p><strong>Дата выпуска:</strong> {{ movie.release_date }}</p>

  {% if movie.image %}
    <img src="{{ movie.image.url }}" alt="{{ movie.name }}" width="300" >
  {% endif %}

  {% if movie.video %}
    <video controls width="600" height="400">
      <source src="{{ movie.video.url }}" type="video/mp4">
      Ваш браузер не поддерживает видео.
    </video>
  {% endif %}

  <br><a href="{% url 'movie_list' %}"><button>Назад</button></a>
{% endblock %}
